@using Proekt.Models
@model UserDetailsModel

@{ 
    Layout = null;
}

@if (Model != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @if (Model.Picture != null)
    {
        <li>
            <div onclick="javascript:location.href='/User'" class="partial-profile-picture" style="background-image: url('@Model.Picture');"></div>
        </li>
    }
    <li>
        @Html.ActionLink(Model.FirstName, "Index")
    </li>

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


